<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
     <!-- 引入jQuery -->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
     <!-- 引入 Bootstrap -->
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>         
     <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <title>数据展示平台</title>        
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="nav nav-pills">
                        <li >
                            <a href=".">首页</a>
                        </li>
                        <li>
                            <a href="testdb">豆瓣top250电影</a>
                        </li>
                        <li >
                            <a href="weather">天气爬取</a>
                        </li>
                        <li >
                            <a href="phone?p=1">京东手机爬取</a>
                        </li>
                        <li class="active" >
                            <a href="taobao">淘宝商品</a>
                        </li>
                    </ul>
                </div>
            </div>
  
    <h1>淘宝商品爬取</h1>
    <table class="table  table-bordered table-hover" >
        {% for i in infoList %} 
        <tr>
            <td>{{ i.price }}</td>
            <td>{{ i.title }}</td>

       </tr>
       {% endfor%} 
    </table>
                
            
</div>            
</body>
</html> 